## Day-2 Homework 
1)

In [49]:
list1= list(range(1,11))
new_list = list1[-(int(len(list1)/2)):] + list1[:(int(len(list1)/2))]

print("Defined list is: ", list1)
print("Swaped list is: ", new_list)

Defined list is:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Swaped list is:  [6, 7, 8, 9, 10, 1, 2, 3, 4, 5]

**2)**

In [50]:
n = int(input("Please enter a single digit integer:"))
liste1 = [i for i in list(range(n+1)) if i%2==0]

print(liste1)

Please enter a single digit integer:20
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]